<!DOCTYPE html>
<html>
  <head>
    <title>OdinFlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-secondary">
    <%= content_tag :div, class: "container-fluid vh-100 d-flex align-items-center flex-wrap" do %>
      <% flash.each do |key, value| %>
        <%= content_tag :div, value, id: "flash_#{key}", class: 'row w-100' do %>
          <%= content_tag :p, value, class: "col-12 mx-3" %>
        <% end %>
      <% end %>
      <%= content_tag :div, class: "container d-flex flex-column justify-content-center" do %>
        <%= yield %>
      <% end %>
    <% end %>
  </body>
</html>
